{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content">
                <div class="text-center">
                    <h1 style="font-size: 52px">Have a list of websites?</h1>
                    <h2 style="font-size: 40px">Let us find their emails and social links for you!</h2>
                </div>
                <div class="row mb-4">
                    <div class="col-8 offset-2">
                        <form method="post" id="csv_form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="email">Email address:</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="email">Subject:</label>
                                        <input type="text" class="form-control" id="subject" name="subject" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="urls">Urls:</label>
                                <textarea class="form-control" id="drop_zone" name="urls"
                                          placeholder="Copy csv file content or drop csv file here." rows="10"
                                          required></textarea>
                            </div>
                            <button type="submit" class="btn btn-success btn-block" disabled="">Submit</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="mt-2 mb-3">Free Trial</h4>
                                <h1 class="pricing-table-price"><span class="mr-1">FREE</span></h1>
                                <ul class="pricing-table-list list-unstyled mb-3">
                                    <li><strong>1</strong> Scrape</li>
                                    <li><strong>1500</strong> Websites</li>
                                </ul>
                                <a href="#"
                                   class="btn bg-pink-400 btn-lg text-uppercase font-size-sm font-weight-semibold">Try</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="mt-2 mb-3">Pay for scans</h4>
                                <h1 class="pricing-table-price"><span class="mr-1">$</span>3</h1>
                                <ul class="pricing-table-list list-unstyled mb-3">
                                    <li><strong>1</strong> Scrape</li>
                                    <li><strong>1500</strong> Websites</li>
                                </ul>
                                <a href="#"
                                   class="btn bg-pink-400 btn-lg text-uppercase font-size-sm font-weight-semibold">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="mt-2 mb-3">Pay for scans</h4>
                                <h1 class="pricing-table-price"><span class="mr-1">$</span>24.99</h1>
                                <ul class="pricing-table-list list-unstyled mb-3">
                                    <li><strong>Unlimited</strong> Scrapes</li>
                                    <li><strong>2500</strong> Websites</li>
                                </ul>
                                <a href="#"
                                   class="btn bg-pink-400 btn-lg text-uppercase font-size-sm font-weight-semibold">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="mt-2 mb-3">Pay for scans</h4>
                                <h1 class="pricing-table-price"><span class="mr-1">$</span>39.99</h1>
                                <ul class="pricing-table-list list-unstyled mb-3">
                                    <li><strong>Unlimited</strong> Scrapes</li>
                                    <li><strong>Unlimited</strong> Websites</li>
                                </ul>
                                <a href="#"
                                   class="btn bg-pink-400 btn-lg text-uppercase font-size-sm font-weight-semibold">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}