{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Iscrape {% endblock %}</title>

    {% include 'partials/stylesheets.html' %}
    {% block custom_stylesheet %} {% endblock %}

</head>
<body>
{% include 'partials/navbar.html' %}

{% block content %}
{% endblock %}

{% include 'partials/javascript.html' %}

{% block custom_javascript%}
{% endblock %}

</body>
</html>